<div class="row" data-ng-controller="authCtrl" data-ng-init="me()">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">
              <label for="loggeduser" class="col-sm-2 control-label">Logged in user: </label><p>{{myDetails.username}}</p>
              <label for="createddate" class="col-sm-2 control-label">Created date time: </label><p>{{myDetails.created}}</p>
            </div>
        </div>
    </div>
</div>
